html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none !important;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
body {
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar-expand-lg {
  border-radius: 30px !important;
  background-color: #ffffff !important;
  box-shadow: 8px 8px 4px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid grey;
  padding: 15px 10px !important;
}

.navbar-toggler {
  background-color: #ffffff;
  border-radius: 20% !important;
  border: 1px solid #000000 !important;
}

.navbar-toggler-icon {
  color: #000000 !important;
  margin: 6px 20px 0 0;
  font-family: "Outfit", sans-serif;
}

.nav-link {
  color: #000000 !important;
}

.btn {
  border-radius: 30px !important;
  border: 1px solid #000000 !important;
  color: #ffffff !important;
  background-color: #000000 !important;
  font-family: "Outfit", sans-serif;
  font-size: 18px !important;
}
.btn:hover {
  color: #000000 !important;
  background-color: transparent !important;
  transition: 0.4s !important;
  background-image: linear-gradient(135deg, #00b4db 13%, white 13%, white 87%, #0083b0 87%);
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit Bold"), local("Outfit-Bold"), url("../fonts/Outfit-Bold.woff2") format("woff2"), url("../fonts/Outfit-Bold.woff") format("woff"), url("../fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: local("Outfit Regular"), local("Outfit-Regular"), url("../fonts/Outfit-Regular.woff2") format("woff2"), url("../fonts/Outfit-Regular.woff") format("woff"), url("../fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.advantages {
  background-image: linear-gradient(45deg, #82CBAC 10%, white 10%, white 90%, white 90%);
  padding: 60px 0;
}
.advantages__wrapper {
  gap: 100px;
}
.advantages__subtitle {
  font-size: 35px;
  font-family: "Outfit", sans-serif;
}
.advantages__title {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  max-width: 486px;
}
.advantages__description {
  max-width: 546px;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  margin-top: 40px;
}
.advantages__form-link {
  margin-top: 60px;
  text-align: center;
}
.advantages__form-link > a:hover {
  background-image: linear-gradient(135deg, #82CBAC 13%, white 13%, white 87%, #82CBAC 87%);
}

@media (max-width: 992px) {
  .advantages {
    background-image: linear-gradient(45deg, #82CBAC 10%, white 10%, white 90%, white 90%);
  }
  .advantages__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .advantages__subtitle {
    text-align: center;
  }
  .advantages__title {
    text-align: center;
    max-width: 600px;
  }
  .advantages__description {
    text-align: center;
    max-width: 600px;
  }
  .advantages__form-link > a {
    width: 100% !important;
  }
}
@media (max-width: 770px) {
  .advantages {
    background-image: linear-gradient(45deg, #82CBAC 5%, white 5%, white 95%, white 95%);
  }
}
.banner {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(140, 29, 204) 38%, rgb(0, 212, 255) 100%);
  padding: 60px 0 0;
}
.banner__wrapper-upper {
  justify-content: space-between;
}
.banner__subtitle {
  margin-top: 210px;
  color: #82CBAC;
  font-family: "Outfit", sans-serif;
  margin-bottom: -10px;
  font-size: 18px;
}
.banner__title {
  font-size: 68px;
  font-family: "Outfit", sans-serif;
  max-width: 550px;
  color: #ffffff;
}
.banner__description {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  max-width: 500px;
  color: #82CBAC;
}
.banner__right-side img {
  margin-top: 60px;
}
.banner__collage-picture {
  margin-top: 140px;
  width: 100vw;
}
.banner .container-fluid {
  padding: 0;
}

@media (max-width: 992px) {
  .banner__wrapper-upper {
    flex-direction: column;
    align-items: center;
  }
  .banner__subtitle {
    margin-top: 40px;
    text-align: center;
  }
  .banner__title {
    text-align: center;
  }
  .banner__description {
    text-align: center;
  }
  .banner__collage-picture {
    margin-top: 100px;
  }
}
@media (max-width: 992px) {
  .banner__title {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .banner {
    padding: 20px 0 0;
  }
}
.discover {
  padding: 60px 0 0;
  background-color: #82CBAC;
}
.discover__title {
  font-family: "Outfit", sans-serif;
  font-size: 64px;
  max-width: 680px;
  margin: 0 auto;
  color: #ffffff;
}
.discover__description {
  margin: 20px auto 0;
  max-width: 600px;
  font-size: 24px;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
}
.discover__wrapper-left {
  text-align: center;
}
.discover__wrapper-right > img {
  margin: 0 auto;
}

.header {
  padding: 30px 0 0 0;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(140, 29, 204) 38%, rgb(0, 212, 255) 100%);
}
.header .navbar-nav {
  gap: 20px;
}
.header .navbar-expand-lg {
  background-color: transparent !important;
  background-image: linear-gradient(135deg, #00b4db 10%, white 10%, white 90%, #0083b0 90%);
}
.header .navbar-nav li a {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.header .navbar-nav li a:hover {
  transition: 0.4s;
  border: 1px solid #000000;
  border-radius: 30px;
  box-shadow: 8px 8px 4px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(135deg, #00b4db 20%, white 20%, white 80%, #0083b0 80%);
}
.header__networks {
  margin-right: 20px;
}
.header__networks a {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.header__networks a:hover {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  transition: 0.4s;
}
.header__wrapper-upper {
  justify-content: space-between;
}
.header__subtitle {
  margin-top: 150px;
  color: #82CBAC;
  font-family: "Outfit", sans-serif;
  margin-bottom: -10px;
  font-size: 18px;
}
.header__title {
  font-size: 68px;
  font-family: "Outfit", sans-serif;
  max-width: 550px;
  color: #ffffff;
}
.header__description {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  max-width: 500px;
  color: #82CBAC;
}
.header__right-side img {
  margin-top: 60px;
}
.header__collage-picture {
  margin-top: 100px;
  width: 100vw;
}
.header .container-fluid {
  padding: 0;
}

@media (max-width: 992px) {
  .header .navbar-expand-lg {
    background-color: transparent !important;
    background-image: linear-gradient(135deg, #00b4db 10%, white 10%, white 90%, #0083b0 90%);
  }
  .header__control {
    margin-top: 50px;
  }
  .header .nav-item {
    text-align: center;
  }
  .header .navbar-nav {
    margin-top: 20px !important;
  }
  .header__wrapper-upper {
    flex-direction: column;
    align-items: center;
  }
  .header__subtitle {
    margin-top: 40px;
    text-align: center;
  }
  .header__title {
    text-align: center;
    font-size: 48px;
  }
  .header__description {
    text-align: center;
  }
  .header__collage-picture {
    margin-top: 100px;
  }
}
@media (max-width: 576px) {
  .header .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.work {
  background-image: linear-gradient(45deg, white 10%, white 10%, white 90%, #82CBAC 90%);
  padding: 120px 0;
}
.work__zero-three, .work__zero-two, .work__zero-one {
  border-radius: 30px;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}
.work__zero-one {
  margin-top: 20px !important;
  background-color: #82CBAC;
}
.work__zero-two {
  background-color: #FF7F96;
}
.work__zero-three {
  background-color: #EAD71B;
}
.work__title {
  margin-top: 20px;
  font-size: 42px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
}
.work__description {
  font-size: 22px;
  max-width: 530px;
  margin-top: 10px;
  font-family: "Outfit", sans-serif;
}
.work__left-upper {
  margin-top: 20px;
}
.work__left-down, .work__left-mid {
  margin-top: 30px;
}
.work__wrapper {
  gap: 100px;
}

@media (max-width: 992px) {
  .work {
    padding: 50px 0;
  }
  .work__zero-three, .work__zero-two, .work__zero-one {
    border-radius: 30px;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 18px;
  }
  .work__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .work__right-side {
    margin-top: 20px;
  }
}
@media (max-width: 770px) {
  .work {
    background-image: linear-gradient(45deg, white 5%, white 5%, white 95%, #82CBAC 95%);
  }
}

/*# sourceMappingURL=stylesheet.css.map */
