@media (max-width: 992px) {
  .footer {
    &__wrapper-main-content {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    &__logo {
      margin: 0 auto;
    }
    .form-control {
      padding: .375rem 1.75rem;
    }
  }
}