@font-face {
    font-family: 'Outfit';
    src: local('Outfit Bold'), local('Outfit-Bold'),
        url('Outfit-Bold.woff2') format('woff2'),
        url('Outfit-Bold.woff') format('woff'),
        url('Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Regular'), local('Outfit-Regular'),
        url('Outfit-Regular.woff2') format('woff2'),
        url('Outfit-Regular.woff') format('woff'),
        url('Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

