
$regular-font: "Outfit", sans-serif;
$font-weight-reg: 400;
$font-weight-bg: 700;

$accent-color: #82CBAC;
$accent-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,29,204,1) 38%, rgba(0,212,255,1) 100%);