@media (max-width: 992px) {
  .topnft {
    &__wrapper-upper {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    &__wrapper-down {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }
}